USE [master]
GO
/****** Object:  Database [HeThongDanhGia]    Script Date: 03/05/2024 12:24:04 PM ******/
CREATE DATABASE [HeThongDanhGia]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HeThongDanhGia', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\HeThongDanhGia.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HeThongDanhGia_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\HeThongDanhGia_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HeThongDanhGia].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HeThongDanhGia]
GO
/****** Object:  Table [dbo].[BO_PHAN]    Script Date: 03/05/2024 12:24:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BO_PHAN](
	[IDBP] [int] IDENTITY(1,1) NOT NULL,
	[BoPhan] [nvarchar](50) NULL,
 CONSTRAINT [PK_BO_PHAN] PRIMARY KEY CLUSTERED 
(
	[IDBP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CAN_BO]    Script Date: 03/05/2024 12:24:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAN_BO](
	[IDCB] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[BoPhan] [nvarchar](50) NULL,
	[IDGopY] [int] NULL,
 CONSTRAINT [PK_CAN_BO] PRIMARY KEY CLUSTERED 
(
	[IDCB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DANH_GIA]    Script Date: 03/05/2024 12:24:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANH_GIA](
	[IDDanhGia] [int] NOT NULL,
	[IDBP] [int] NULL,
 CONSTRAINT [PK_DANH_GIA] PRIMARY KEY CLUSTERED 
(
	[IDDanhGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GOP_Y]    Script Date: 03/05/2024 12:24:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GOP_Y](
	[IDGopY] [int] NOT NULL,
	[NDGopY] [nvarchar](100) NULL,
 CONSTRAINT [PK_GOP_Y] PRIMARY KEY CLUSTERED 
(
	[IDGopY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEU]    Script Date: 03/05/2024 12:24:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU](
	[IDPhieu] [int] IDENTITY(1,1) NOT NULL,
	[IDBP] [int] NULL,
	[ThoiGian] [date] NULL,
	[DangNhap] [time](7) NULL,
	[IDQuay] [int] NULL,
	[IDCB] [int] NULL,
 CONSTRAINT [PK_PHIEU] PRIMARY KEY CLUSTERED 
(
	[IDPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QUAY]    Script Date: 03/05/2024 12:24:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUAY](
	[IDQuay] [int] IDENTITY(1,1) NOT NULL,
	[Quay] [int] NULL,
 CONSTRAINT [PK_QUAY] PRIMARY KEY CLUSTERED 
(
	[IDQuay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[BO_PHAN] ON 

INSERT [dbo].[BO_PHAN] ([IDBP], [BoPhan]) VALUES (1, N'Trả hồ sơ')
INSERT [dbo].[BO_PHAN] ([IDBP], [BoPhan]) VALUES (2, N'Sao y chứng thực')
INSERT [dbo].[BO_PHAN] ([IDBP], [BoPhan]) VALUES (3, N'Kinh tế môi trường')
SET IDENTITY_INSERT [dbo].[BO_PHAN] OFF
SET IDENTITY_INSERT [dbo].[CAN_BO] ON 

INSERT [dbo].[CAN_BO] ([IDCB], [HoTen], [BoPhan], [IDGopY]) VALUES (1, N'Lê Quý Linh', N'Trả Hồ Sơ', NULL)
INSERT [dbo].[CAN_BO] ([IDCB], [HoTen], [BoPhan], [IDGopY]) VALUES (2, N'Bùi Quốc Huy', N'Sao y chứng thực', NULL)
INSERT [dbo].[CAN_BO] ([IDCB], [HoTen], [BoPhan], [IDGopY]) VALUES (3, N'Nguyễn Thị Loan', N'Kinh tế môi trường', NULL)
SET IDENTITY_INSERT [dbo].[CAN_BO] OFF
SET IDENTITY_INSERT [dbo].[PHIEU] ON 

INSERT [dbo].[PHIEU] ([IDPhieu], [IDBP], [ThoiGian], [DangNhap], [IDQuay], [IDCB]) VALUES (1, 1, NULL, NULL, 1, 1)
INSERT [dbo].[PHIEU] ([IDPhieu], [IDBP], [ThoiGian], [DangNhap], [IDQuay], [IDCB]) VALUES (2, 2, NULL, NULL, 2, 2)
INSERT [dbo].[PHIEU] ([IDPhieu], [IDBP], [ThoiGian], [DangNhap], [IDQuay], [IDCB]) VALUES (3, 3, NULL, NULL, 3, 3)
SET IDENTITY_INSERT [dbo].[PHIEU] OFF
SET IDENTITY_INSERT [dbo].[QUAY] ON 

INSERT [dbo].[QUAY] ([IDQuay], [Quay]) VALUES (1, 1)
INSERT [dbo].[QUAY] ([IDQuay], [Quay]) VALUES (2, 2)
INSERT [dbo].[QUAY] ([IDQuay], [Quay]) VALUES (3, 3)
SET IDENTITY_INSERT [dbo].[QUAY] OFF
ALTER TABLE [dbo].[PHIEU]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_BO_PHAN] FOREIGN KEY([IDBP])
REFERENCES [dbo].[BO_PHAN] ([IDBP])
GO
ALTER TABLE [dbo].[PHIEU] CHECK CONSTRAINT [FK_PHIEU_BO_PHAN]
GO
ALTER TABLE [dbo].[PHIEU]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_CAN_BO] FOREIGN KEY([IDCB])
REFERENCES [dbo].[CAN_BO] ([IDCB])
GO
ALTER TABLE [dbo].[PHIEU] CHECK CONSTRAINT [FK_PHIEU_CAN_BO]
GO
ALTER TABLE [dbo].[PHIEU]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_QUAY] FOREIGN KEY([IDQuay])
REFERENCES [dbo].[QUAY] ([IDQuay])
GO
ALTER TABLE [dbo].[PHIEU] CHECK CONSTRAINT [FK_PHIEU_QUAY]
GO
USE [master]
GO
